<!DOCTYPE html>
<html>
<head>
    <title>Sound Value</title>
    <style>
        *{background-color: hsl(98, 81%, 63%)};
        *{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif};
        *{margin: auto};
    </style>
</head>
<body>
    <h1>Sound Level:</h1>
    <p><%= soundValue %></p>
    <!-- <script src="../public/js/updateSound.js" type="text/js"></script> -->
    <script>
        setInterval(location.reload(), 1000);
    </script>
</body>
</html>