<% include ("partials/header") %>
<body>
    <center>
    <h1>Year 9 IT</h1> <!---Change this to your class name-->
    <h2>Sound Level:</h2>
    <p></p>
    <p><%= soundValue %></p>
    </center>
    <script>
        setInterval(location.reload(), 1000);
    </script>
</body>
<% include ("partials/footer") %>
</html>
